@inherits LayoutComponentBase

<div class="row">
	<div class="col">
		<ul class="nav nav-tabs nav-fill">
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/">General</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/options">Options</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/counters">Display/Counters</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/armdress">Arm/Dress</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/skills">Skills</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/agents">Agents</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/filters">Filters</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/hotkeys">Hot Keys</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/macros">Macros</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/scripts">Scripts</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/friends">Friends</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/screenshots">Screen Shots</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/advanced">Advanced</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-nowrap" href="/about">About</a>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col">
		@Body
	</div>
</div>