html, body {
    font-family: 'Pixelated MS Sans Serif', Helvetica, Arial, sans-serif;
    background-color: #FAFAFA;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}

.row {
    margin: 0px;
    padding: 0px;
}

.col {
    margin: 0px;
    padding: 0px;
}

.nav-item {
    background: linear-gradient(180deg,#fff,#fafaf9 26%,#f0f0ea 95%,#ecebe5);
    margin-left: -1px;
    margin-right: 2px;
    border-radius: 0;
    border-color: #91a7b4;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    z-index: 1;
    display: block;
}

.nav-link {
    color: #222;
    font-size: 11px;
    text-decoration: none;
    min-width: unset;
    padding: 2px;
    margin: 0px;
}

.blazor-content {
    background: #F0F0F0;
    font-size: 13px;
}

.center-content {
    display: flex;
    justify-content: center;
}
