@page "/hotkeys"
@using Assistant

<h1>Hot Keys</h1>

<div>
	<p>Hot Keys Page</p>
	<ul>
	@foreach (var keyData in HotKey.List)
	{
		<li>@keyData</li>
		<li>NodeText: @keyData.Node.Text</li>
	}
	</ul>
</div>

@code {
}